/* переменные для значений color */
:root {
  --primary-title-color: #ffffff;
  --secondary-title-color: #212121;
  --primary-text-color: #757575;
  --accent-color: #2196f3;
  --background-color: #2f303a;
  --secondary-background-color: #f5f4fa;
}

/* стандартные параметры стиля */
body {
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  background-color: var(--primary-title-color);
}

/* стандартные параметры контейнера */
/* xxxxxxxxxxxxxxxxxxxx */

/* дополнительные параметры сброса отступов */
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  padding: 0;
  margin: 0;
}

/* убираем подчеркивание */
.link {
  text-decoration: none;
}

/* убираем точки из списка <ul> */
.list {
  list-style: none;
}

/******  Header  ******/

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  /* border: 1 solid teal; */
  /* outline: 2px solid red; */
  /* background-color: yellow; */
}

.header .container {
  display: flex;
}
.nav {
  display: flex;
  align-items: center;
}

.header-list {
  margin-left: 92px;
  display: flex;
}

.header-list :not(:last-child) {
  margin-right: 50px;
}

.header-logo {
  font-weight: 700;
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: calc(31 / 26);
  color: #000000;
  padding-top: 25px;
  padding-bottom: 25px;
}

.span-logo {
  color: var(--accent-color);
}

.activ-page {
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: var(--accent-color);

  padding-top: 32px;
  padding-bottom: 32px;
  display: block;
}

.auth-nav {
  display: flex;
  margin-left: auto;
}
/* .auth-nav :not(:last-child){
  display: flex;
margin left: 50px;
} */

.auth-nav .auth-item + .auth-item {
  margin-left: 50px;
}

.header-link {
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: var(--secondary-title-color);

  padding-top: 32px;
  padding-bottom: 32px;
  display: block;
}

.header-contact {
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: var(--primary-text-color);

  padding-top: 32px;
  padding-bottom: 32px;
  display: block;
}

.header-link:hover,
.header-link:focus,
.header-contact:hover,
.header-contact:focus,
.footer-contact:hover,
.footer-contact:focus {
  color: var(--accent-color);
}

/****  Footer  ****/
.footer {
  background-color: var(--background-color);
}
.footer-logo {
  font-weight: 700;
  font-family: Raleway;
  font-size: 26px;
  line-height: calc(31 / 26);
  color: var(--primary-title-color);
}
.footer-address {
  font-size: 14px;
  line-height: calc(24 / 14);
  color: var(--primary-title-color);
}
.footer-contact {
  font-size: 14px;
  line-height: calc(24 / 14);
  color: rgba(255, 255, 255, 0.6);
}

/****  section hero  *****/
.hero {
  background-color: var(--background-color);
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: calc(60 / 44);
  letter-spacing: 0.06em;
  max-width: 696px;
  text-transform: uppercase;
  color: var(--primary-title-color);

  margin-bottom: 30px;
}

.main-btn {
  font-family: inherit;
  font-weight: bold;
  display: inline-block;
  cursor: pointer;
  min-width: 200px;
  font-size: 16px;
  line-height: calc(30 / 16);
  padding: 10px 32px;
  border-radius: 4px;
  letter-spacing: 0.06em;

  color: var(--primary-title-color);
  background: var(--accent-color);
}

.main-btn:focus,
.main-btn:hover {
  cursor: pointer;
  color: var(--accent-color);
  background: var(--primary-title-color);
}

/****  Section propertyes  ****/
.list-service {
  font-weight: bold;
  font-size: 14px;
  line-height: calc(16 / 14);
  text-transform: uppercase;
  color: var(--secondary-title-color);
}

.item-service {
  font-weight: normal;
  font-size: 14px;
  line-height: calc(24 / 14);
  color: var(--primary-text-color);
}

/**** Team section ****/

.team {
  background-color: var(--secondary-background-color);
}

.about-team {
  font-weight: bold;
  font-size: 36px;
  line-height: calc(42 / 36);
  color: var(--secondary-title-color);
}
.fond-team {
  background-color: var(--primary-title-color);
}

.list-team {
  font-weight: bold;
  font-size: 36px;
  line-height: calc(42 \36);
  color: var(--secondary-title-color);
}

.item-team {
  font-weight: 500;
  font-size: 16px;
  line-height: calc(19 / 16);
  color: var(--secondary-title-color);
}

.function-team {
  font-weight: normal;
  font-size: 16px;
  line-height: calc(19 / 16);
  color: var(--primary-text-color);
}

/******   Portfolio page   ******/
.list-price {
  font-weight: bold;
  font-size: 18px;
  line-height: calc(36 / 18);
  letter-spacing: 0.06em;
  color: var(--secondary-title-color);
}

.item-price {
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  color: var(--secondary-title-color);
}

.portfolio-activ-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16);
  cursor: pointer;
  color: var(--secondary-background-color);
  background-color: var(--accent-color);
}
.portfolio-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16);
  cursor: pointer;
  color: var(--secondary-title-color);
  background-color: var(--secondary-background-color);
}

.portfolio-btn:hover,
.portfolio-btn:focus {
  cursor: pointer;
  color: var(--secondary-background-color);
  background-color: var(--accent-color);
}
.portfolio-link {
  font-family: inherit;
  font-weight: 500;
  background: var(--primary-title-color);
}
